.idea
.idea/*
.metadata
.settings
.classpath
.project
*/.gitignore
RemoteSystemsTempFiles/*
target/*
Servers/*
*/dist
*/bin
*/build
*/out
*/target
*/.classpath
*/.project
*/.settings
*~
*.lock
*.DS_Store
*.swp
*.out
*.log*
/bin/
garfmedya.iml
out/
target/